<br><br><br><br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="has-error col-md-offset-4 col-xs-offset-3 col-xs-6 col-md-4">
      <div class="errors-container"></div>


      <form class="new-review-form">
        <input type="hidden" name="review[shop_id]" value="<%= shop.escape('id') %>">
        <input type="hidden" name="review[author_id]" value="<%= window.id %>">
        <br>
        <div class="form-group review-barber-rating">
          <label for="review-rating">RATING</label><br>
          <% var a = [1,2,3,4,5] %>
          <% a.forEach(function(num) { %>
            <label class="radio-inline">
              <input class="rating-value" type="radio" name="review[rating]" value="<% num %>"><%= num %>
            </label>
          <%  }) %>
          <br>
        </div>
        <div class="form-group review-barber">
          <label for="shop-barber">BARBER | STYLIST</label>
          <select id="shop-barber" class="form-control barber-dropdown" name="review[barber_id]" >
            <% barbers.each(function(barber){ %>
              <option value="<%= barber.escape('id')%>"><%= barber.escape('name') %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="review-body">EXPERIENCE</label>
          <textarea class="form-control new-shop-input" name="review[body]" id="review-body" rows="3"></textarea>
        </div>
        <div class="form-group">
          <span class="upload-button"><i class="fa fa-plus"></i></span>
          <br><br>
          <ul class="preview-collection"></ul>

          </div>
          <br>
          <button  class="create-review btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
