<div class="review-with-side">
  <div class="review-userprofile">
    <div class="review-username-container">
      <span class="review-username"><%= review.escape('username') %></span>

      <br><br>
      <span class="barber-review-rating">RATING FOR <span class="barber-name">{ <%= review.escape('barber_name') %> }</span></span><div class="review rating" data-path="assets/images"></div>

    </div>

    <div class="author-photo">
      <span class="review-date" style="display:block;"><%= review.escape('date') %></span>
      <div class="avatar-container circular">
        <img class="user-avatar" src="<%= review.escape('avatar_url') %>">        
      </div>
    </div>
  </div>

  <div class="review-body">
    <div class="review-content"><%= review.escape('body') %></div>
    <br> <br>
    <div class="review-photos-container">
      <ul>
        <% pictures.each(function(picture){ %>
          <li class="photo-container">
            <div class="review-photo">
              <img src="<%= picture.escape('photo_url') %>">
            </div>
          </li>
        <% }) %>
      </ul>

    </div>
    <br><br>
  </div>
  <hr>
</div>
