<% if (shop.isNew() || (shop.escape('moderator_id') == window.id)) { %>
  <br>
<div class="container-fluid">
  <div class="row">
    <div class="new-shop col-md-offset-4 col-xs-offset-3 col-xs-6 col-md-4">
      <form>
        <div class="errors-container"></div>
        <input type="hidden" name="shop[moderator_id]" value="<%= window.id %>">
        <input type="hidden" name="shop[latitude]" value="<%= shop.escape('longitude') %>">
        <input type="hidden" name="shop[longitude]" value="<%= shop.escape('longitude') %>">
        <br>
        <div class="form-group">
          <label for="new-shop-name">SHOP NAME</label>
          <input type="text" class="form-control new-shop-input" value="<%= shop.escape('name') %>" name="shop[name]" id="new-shop-name" >
        </div>
        <div class="form-group">
          <label for="shop-address">ADDRESS</label>
          <input type="text" class="form-control new-shop-input" value="<%= shop.escape('address') %>" name="shop[address]" id="shop-address" placeholder="1000 Moon Way">
        </div>
        <div class="form-group">
          <label for="shop-city">CITY</label>
          <input type="text" class="form-control new-shop-input" value="<%= shop.escape('city') %>" name="shop[city]" id="shop-city" placeholder="Oakland">
        </div>
        <div class="form-group">
          <label for="shop-state">STATE</label>
          <input type="text" class="form-control new-shop-input" value="<%= shop.escape('state') %>" name="shop[state]" id="shop-state" placeholder="California">
        </div>
        <div class="form-group">
          <label for="shop-zip">ZIP</label>
          <input type="number" class="form-control new-shop-input" value="<%= shop.escape('zip') %>" name="shop[zip]" id="shop-zip" placeholder="94606">
        </div>
        <div class="form-group">
          <label for="shop-phone">PHONE</label>
          <input type="number" class="form-control new-shop-input" value="<%= shop.escape('nonparsed_phone') %>" name="shop[phone]" id="shop-phone" placeholder="4088052524">
        </div>

        <div class="form-group">
          <label for="shop-tags">TAGS</label>
          <input type="text" class="form-control new-shop-input"  id="shop-tags" name="shop[tag_list]" value="<%= shop.escape('tag_list') %>" >
        </div>

        <div class="form-group">
          <label for="shop-photo">SHOP PHOTO</label><br>
          <span class="upload-button"><i class="fa fa-picture-o"></i></span>
          <br><br>
          <ul class="preview-container">
            <li class="preview"><img src="<%= shop.escape('photo_url') %>"></li>
           </ul>
          <br><br>
          <% if (!shop.isNew()) { %>
          <a class="cancel" href="#/shops/<%= shop.escape('id') %>"><span>CANCEL</span></a>
          <% } else { %>
          <a class="cancel" href="#"><span>CANCEL</span></a>
          <% } %>
          <button type="submit" class="confirm">SUBMIT</button>

        </div>
      </form>
      <br>
      <% if (!shop.isNew()) { %>
        <a class="" ><button class="confirm btn btn-primary delete-shop">DELETE</button></a>
      <% } %>
    </div>
  </div>
</div>
<% } else { %>

  <div class="no-access">
    You don't have access to this page!
  </div>

<% } %>
