<a class="listing-name" href="#/shops/<%= shop.escape('id') %>">
  <div class="shop-photo"><img class="resize" src="<%= shop.escape('photo_url') %>"></div>
  <h3><%= shop.escape('name') %></h3>
  <div class="review rating" data-path="assets/images"></div><span style="color:black;"><%= shop.escape("num_reviews") %> Reviews</span><br>
  <br>
  <div class="tag_list">
    <span class=""><%= tag_list %></span>
  </div>

  <% if (window.id == shop.escape('moderator_id') && shop.get('check')) { %>
  <div class="mod-warning">
    <span class="warning">To have your shop be shown, please add at minimum <span class="emphasis">one</span> barber.</span>
  </div>
  <% } %>
  <hr>
</a>
