<br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-xs-offset-3 col-xs-6 col-md-4">
      <form>
        <div class="errors-container"></div>
        <input type="hidden" name="shop[moderator_id]" value="<%= window.id %>">
        <input type="hidden" name="shop[latitude]" value="<%= shop.escape('longitude') %>">
        <input type="hidden" name="shop[longitude]" value="<%= shop.escape('longitude') %>">
        <br>
        <div class="form-group">
          <label for="new-shop-name">SHOP NAME</label>
          <input type="text" class="form-control new-shop-input" value="<%= shop.escape('name') %>" name="shop[name]" id="new-shop-name" >
        </div>
        <div class="form-group">
          <label for="shop-address">ADDRESS</label>
          <input type="text" class="form-control new-shop-input" value="<%= shop.escape('address') %>" name="shop[address]" id="shop-address" placeholder="1000 Moon Way">
        </div>
        <div class="form-group">
          <label for="shop-city">CITY</label>
          <input type="text" class="form-control new-shop-input" value="<%= shop.escape('city') %>" name="shop[city]" id="shop-city" placeholder="Oakland">
        </div>
        <div class="form-group">
          <label for="shop-state">STATE</label>
          <input type="text" class="form-control new-shop-input" value="<%= shop.escape('state') %>" name="shop[state]" id="shop-state" placeholder="California">
        </div>
        <div class="form-group">
          <label for="shop-zip">ZIP</label>
          <input type="number" class="form-control new-shop-input" value="<%= shop.escape('zip') %>" name="shop[zip]" id="shop-zip" placeholder="94606">
        </div>
        <div class="form-group">
          <label for="shop-phone">PHONE</label>
          <input type="number" class="form-control new-shop-input" value="<%= shop.escape('nonparsed_phone') %>" name="shop[phone]" id="shop-phone" placeholder="4088052524">
        </div>

        <div class="form-group">
          <label for="shop-tags">TAGS</label>
          <input type="text" class="form-control new-shop-input"  id="shop-tags" name="shop[tag_list]" value="<%= shop.escape('tag_list') %>" >
        </div>

        <div class="form-group">
          <label for="shop-photo">SHOP PHOTO</label><br>
          <button class="upload-button">Choose a photo</button>
          <div class="photo-preview"></div>

          <br><br>
          <button type="submit" class="shop-form btn btn-default">Submit</button>
        </div>
      </form>
      <% if (!shop.isNew()) { %>
        <a class="confirm" ><button class="confirm btn btn-primary delete-shop">DELETE</button></a>
      <% } %>
    </div>
  </div>
</div>
