
<div class="shop-sidebar">
    <div class="shop-info">
      <div class="shop-banner-left" >
        <h1><%= shop.escape('name') %></h1>
        <div class="shop-info-container">
          <p class="lead"><%= shop.escape('phone') %></p>

          <div class="shop-loc">
              <span class="shop-add"><%= shop.escape('address') %></span><br>
              <span class="shop-rest"><%= cityStateZip %> </span>
              <!-- <span class="shop-map-button">MAP</span> -->
          </div>
            <div class="shop rating" data-path="assets/images"></div>
        </div>
      </div>
    </div>
    <br>
    <div class="overlay">
      <div class="shop-map-container">
        <div class="map"></div>
      </div>
    </div>
    <div class="shop-features">
      <br>
        <% if (mod_id == shop.escape('moderator_id')) { %>
          <span class="admin">MODERATOR ACTIONS</span><br>
          <a href="#/shops/<%= shop.escape('id') %>/edit"><span class="moderator shop-buttons"> EDIT YOUR SHOP</span></a><br>

          <a href="#/shops/<%= shop.escape('id') %>/edit/barbers"><span class="moderator shop-buttons">ADD STAFF</span></a><br>
          <hr>
        <% } else { %>
        <br><br>
        <% } %>
        <div class="shop-buttons shop-barbers"><i class="fa fa-caret-down"></i>BARBERS
          <hr>
        <ul class="barber-container1">
          <% barbers.each(function(barber) { %>
            <li class="barber-info">
              <a href="/#/shops/<%= shop.escape('id') %>/barbers/<%= barber.escape('id') %>">
                <span class="barber-name"><%= barber.escape('name') %></span>
                <hr>
              </a>
            </li>
          <% }); %>
        </ul>
      </div>
        <!-- <span class="shop-buttons shop-pictures">PICTURES</span> -->
        <!-- <hr> -->
        <!-- <span class="shop-buttons map-modal">SHOW ON MAP</span>
        <hr> -->
        <a class="new-review" href="#/shops/<%= shop.escape('id') %>/review/new"><span class="shop-buttons">WRITE A REVIEW</span></a>
        <hr>
        <a href="#"><span class="shop-buttons"> ALL SHOPS</span></a>
        <hr>
    </div>


</div>

<div class="container-fluid shop-content col-md-6">
  <div class="row">
    <div class="col-md-12 side-column">

    </div>

  </div>
  <div class="row">
    <div class="level-three col-xs-12 col-md-9">
      <div class="reviews-index">
        <ul class="review-items">
          <div class="no-response-filler">
            Be the first to leave a review! <br><br>
            <i class="fa fa-pencil-square-o"></i>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
