<div class="minfo">
  <span class="minfo-name"><%= shop.escape('name') %></span><br>
  <span class="minfo-address"><%= shop.escape('address') %></span><br>
  <span class="minfo-region"><%= shop.escape('city') %>, <%= shop.escape('state') %> <%= shop.escape('zip') %></span><br>
  <span class="minfo-phone"><%= shop.escape('phone') %></span>
</div>
