<!DOCTYPE html>
<html>
  <head>
    <title>myCut</title>
    <link rel="icon" type="image/png"
     href="https://dl.dropbox.com/s/hmryjygr6a2iuvb/logo.png" />
     <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

    <script>
      L.mapbox.accessToken = 'pk.eyJ1Ijoia2V2aW50cmFuIiwiYSI6ImMyMGI0MGJkMTcwNmU1OTc3ZWM0NWNkN2EzMTNhN2Y3In0.ELHdwvQ1fdEJydRFW9PbdQ';
    </script>

    <script type="text/javascript">
      window.BARBER_CLOUDINARY = {
        "cloud_name": "<%= ENV['CLOUD_NAME'] %>",
        "upload_preset": "<%= ENV['BARBER_PRESET'] %>"
      };
      window.USER_CLOUDINARY = {
        "cloud_name": "<%= ENV['CLOUD_NAME'] %>",
        "upload_preset": "<%= ENV['AVATAR_UPLOAD_PRESET'] %>"
      };
      window.BARBER_PORT_CLOUDINARY = {
        "cloud_name": "<%= ENV['CLOUD_NAME'] %>",
        "upload_preset": "<%= ENV['BARBER_PICS_PRESET'] %>"
      };
      window.SHOP_CLOUD = {
        "cloud_name": "<%= ENV['CLOUD_NAME'] %>",
        "upload_preset": "<%= ENV['SHOP_PRESET'] %>"
      }
    </script>

  </head>
  <body>
    <div class="backstretch-container">

    </div>


    <%= yield %>

    <!-- <% if signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %> -->

    <!-- < script src="assets/bootstrap-tagsinput.min.js">< /script>
    < link rel="stylesheet" href="assets/bootstrap-tagsinput.css"> -->


  </body>
</html>
