<!DOCTYPE html>
<html>
<head>
  <title>MyCut</title>
  <link href"https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css">
  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
  <script>filepicker.setKey('<%= ENV['FILEPICKER_API_KEY'] %>')</script>
  <% if Rails.env.production? %>
    <% api_key = Figaro.env.google_maps_js_key %>
  <% else %>
    <% api_key = '' %>
  <% end %>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=<% api_key %>">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id='nav' class="navbar-fixed-top">
    <%= render partial: "layouts/header" %>
  </nav>

<%= yield %>

</body>
</html>
