<!DOCTYPE html>
<html>
  <head>
    <title>myCut</title>
    <link rel="icon" type="image/png"
     href="https://dl.dropbox.com/s/hmryjygr6a2iuvb/logo.png" />


    <% if Rails.env.production? %>
      <% api_key = "ENV['google_maps_js_key']" %>
    <% else %>
      <% api_key = '' %>
    <% end %>
    <script>try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places,key=<%= api_key %>"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>

    <script type="text/javascript">
      window.BARBER_CLOUDINARY = {
        "cloud_name": "<%= ENV['CLOUD_NAME'] %>",
        "upload_preset": "<%= ENV['BARBER_PRESET'] %>"
      };
      window.USER_CLOUDINARY = {
        "cloud_name": "<%= ENV['CLOUD_NAME'] %>",
        "upload_preset": "<%= ENV['AVATAR_UPLOAD_PRESET'] %>"
      };
      window.BARBER_PORT_CLOUDINARY = {
        "cloud_name": "<%= ENV['CLOUD_NAME'] %>",
        "upload_preset": "<%= ENV['BARBER_PICS_PRESET'] %>"
      };
      window.SHOP_CLOUD = {
        "cloud_name": "<%= ENV['CLOUD_NAME'] %>",
        "upload_preset": "<%= ENV['SHOP_PRESET'] %>"
      }
    </script>

  </head>
  <body>



    <%= yield %>

    <!-- <% if signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %> -->

    <!-- < script src="assets/bootstrap-tagsinput.min.js">< /script>
    < link rel="stylesheet" href="assets/bootstrap-tagsinput.css"> -->


  </body>
</html>
