<!DOCTYPE html>
<html>
  <head>
    <title>MyCut</title>
    <script src="//use.typekit.net/tmx1xsr.js"></script>

    <script src="http://api.filepicker.io/v1/filepicker.js"></script>
    <script>filepicker.setKey("<%= ENV['FILEPICKER_API_KEY']%>")</script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
      <% if Rails.env.production? %>
      <% api_key = "key=ENV['google_maps_js_key']" %>
    <% else %>
      <% api_key = '' %>
    <% end %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?<%= api_key %>"> </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <script>
      $(function(){
        $('.shop-barber-slider').unslider();
      })
    </script>

    <!-- <% if signed_in? %>
      < % = render partial: "layouts/header" %>
    <% end %> -->

    <%= yield %>

    <!-- <% if signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %> -->

    <!-- < script src="assets/bootstrap-tagsinput.min.js">< /script>
    < link rel="stylesheet" href="assets/bootstrap-tagsinput.css"> -->
  </body>
</html>
