<!DOCTYPE html>
<html>
  <head>
    <title>MyCut</title>
    <script src="//use.typekit.net/tmx1xsr.js"></script>



    <script>try{Typekit.load();}catch(e){}</script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <!-- <link href"https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css"> -->
      <% if Rails.env.production? %>
      <% api_key = "key=ENV['google_maps_js_key']" %>
    <% else %>
      <% api_key = '' %>
    <% end %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?<%= api_key %>"> </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <script>
      $.backstretch([
         "https://dl.dropbox.com/s/u0g6entuipw2o2l/tatted_barber.jpg?dl=0",
         "https://dl.dropbox.com/s/048vpusq0xstxah/short_red.jpg?dl=0",
         "https://dl.dropbox.com/s/dlrufec4t0q2kfg/background1.jpg?dl=0",
         "https://dl.dropbox.com/s/9kwji0uox1ay98e/silver_hair.jpg?dl=0",
         "https://dl.dropbox.com/s/02r6ccf0836l7v8/nice_shop.jpg?dl=0",
         "https://dl.dropbox.com/s/840dud3g78id5qj/silver2.jpg?dl=0",
         "https://dl.dropbox.com/s/kymuc918k7indue/salon1.jpg?dl=0",
         "https://dl.dropbox.com/s/ivri3dnusq3y2f5/short_hair.jpg?dl=0"
       ], {duration: 12000, fade: 1000});
    </script>

    <script>
      $(function(){
        $('.shop-barber-slider').unslider();
      })
    </script>

    <% if signed_in? %>
      <%= render partial: "layouts/header" %>
    <% end %>

    <%= yield %>

    <!-- <% if signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %> -->
    <script src="http://api.filepicker.io/v1/filepicker.js"></script>
    <script>filepicker.setKey("<%= ENV['FILEPICKER_API_KEY']%>")</script>
    <script src="assets/bootstrap-tagsinput.js"></script>
    <link rel="stylesheet" href="assets/bootstrap-tagsinput.css">
  </body>
</html>
